* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inconsolada';
    src: url(/fonts/Inconsolata-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Inconsolada';
}

.imgbackgroung {
    margin: 20px;
    width: 1000px;
    height: 700px;
    background-image: url(/imgs/background-tablet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 99;
    display: none;
}

.img01 {
    width: 300px;
    position: absolute;
    left: 960px;
    top: 200px;

}

.img02 {
    position: absolute;
    width: 430px;
    margin-top: -119px;
}

.img03 {
    position: absolute;
    left: 50px;
    top: 5px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#imgLogo {
    width: 190px;
    z-index: 99;
    position: relative;
}

.texInicial {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    position: relative;
}

.texInicial>h2 {
    font-size: 40px;

}

.texInicial>h3 {
    opacity: 0.6;
    margin-top: 20px;
    font-size: 15px;

}

#boxFormulario {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

#boxFormulario p {
    opacity: 0.7;
    font-size: 15px;
    
}

.imgUpload {
    position: absolute;
    left: 490px;
    top: 42px;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 5px;
    border-radius: 10px;
    

}

#imageUpload {
    display: none;
}

.labelupload{
    z-index: 99;
    position: relative;
    background-color: #f0f0f017;
    border: 2px dashed #ffffff69;
    border-radius: 5px;
    color: #007bff00;
    padding-left: 250px;
    padding-bottom: 80px;
    cursor: pointer;
}

.info{
    display: flex;
    
}

.infoupload{
    margin-top: 85px;
}

.pessoalInput{
    margin-top: 30px;
}

.input-estilo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff23;
    border: 1px solid rgba(255, 255, 255, 0.306);
    color: white;
    font-size: 15px;
    padding-left: 10px;
}

.infoEstilo{
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

button{
    font-family: 'Inconsolada';
    font-size: 15px;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 124, 25);
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.box-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: rgba(244, 124, 25, 0.534);
    color: rgba(255, 255, 255, 0.468);
}


#ingressogerado{
    display: block;
}

.main-ingresso{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}